.vscode
.DS_Store
*.zip
*.db
*.digest-db
*.v2
*.cmi
*.cmo
*.cmx
*.o
*.cmti
*.cma
*.cmxa
*.cmxs
*.ml-gen
*.impl.*
*.cmti
*.lock
*.filesystem-clock
*.opam
*.install
*.exe
*.a
*.merlin*
*_build*
*PolyVarTask2*
do_zadania/*